.about-section {
    background-color: #A9927D;
    padding: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-section h1 {
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin: 0 0 20px;
    width: 100%;
}

.about-content p {
    color: white;
    margin: 0 0 20px;
}

.about-section span {
    background-image: url('../../../assets/images/about-pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 250px;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {

    .about-content {
        width: 50%;
    }


    .about-section span {
        width: 50%;
    }



}