
.nav-container {
    width: 100%;
    height: 48px;
    padding: 10px;
    display: flex;justify-content: space-between;
    align-items: center;
    background-color: #855C3F;
}

.hamburger-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn span {
    background-image: url('./Hamburger-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;    
    width: 20px;
    height: 12px; 
}

.nav-container a {
    color: white;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
}

.shopping-cart {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart a {
    width: 20px;
    height: 20px;
    display: inline-block;
}


