/* Base styles */
.create-section {
    max-width: 600px;
    margin: 0 auto 12em;
    padding: 4em 20px 0;
    background-color: #fff;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .create-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #855C3F;
  }
  
  .create-section form {
    display: flex;
    flex-direction: column;
  }
  
  .create-section label {
    font-size: 18px;
    color: #855C3F;
    margin-bottom: 5px;
  }
  
  .create-section input[type="text"],
  .create-section input[type="number"],
  .create-section textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #A9927D;
    color: #ffffff;
  }
  
  .create-section input[type="file"] {
    margin-bottom: 20px;
  }
  
  .create-section button {
    padding: 10px 20px;
    background-color: #855C3F;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-section button:hover {
    background-color: #855C3F;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .create-section {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .create-section h1 {
      font-size: 20px;
    }
  
    .create-section label {
      font-size: 16px;
    }
  
    .create-section input[type="text"],
    .create-section input[type="number"],
    .create-section textarea {
      font-size: 14px;
    }
  
    .create-section button {
      font-size: 16px;
    }
  }
  